@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t6lriq');
  src:  url('../fonts/icomoon.eot?t6lriq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t6lriq') format('truetype'),
    url('../fonts/icomoon.woff?t6lriq') format('woff'),
    url('../fonts/icomoon.svg?t6lriq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9ba";
}


/* celeste: #026FFF; */
/* gris oscuro: #1d252c; */
/* gris claro: #fafafa; */
/* backround gris: #1b2127; */

body{
  font-family: 'Sourse Sans Pro',Arial, Helvetica, sans-serif;
  margin: 0;
}

.header{
  background-color: #1b2127;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.burger-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,1,.8);
  display: block;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 3;
  left: 5px;
  top:5px;
  color: white;
  display: none;
}

.menu{
  height: inherit;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
}

.header ul li{
  height: inherit;
}

.link{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 15px;
}

figure{
  margin: 0;
  height: inherit;
  display: flex;
  align-items: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla One','Times New Roman',Times, sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1{
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: white;
  margin: 0;/*top right bottom left*/
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
  width: 450px;
}

h1 strong{
  color: #026FFF;
}
h2{
  color: #026FFF;
  text-transform: uppercase;
  font-family: 'Sourse Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
h3{
  margin: 0;
}

.hero{
  background-color: #1b2127;
  /* background-image: url('../images/hero.jpg');
  background-size: 400px 300px;/*ancho - alto*/
  /* background-repeat: no-repeat;
  background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-img{
  object-fit: cover;
}

.portfolio{
  background: #fafafa;
  padding: 20px;
}

.project{
  /* border-top: 10px outset red;/* tamaño tipo estilo */
  /* border-right: 10px inset green; */
  /* border-left: 10px ridge blue; */
  /* border-bottom: 10px double pink; */
  border: solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url
{
  margin: 10px 0;
}

.project-title{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.project-description{
  font-size: 20px;
}

.project-details{
  width: 50%;
}

.project strong{
  font-family: 'Fjalla One', sans-serif;
}

.project-imageContainer{
  width: 50%;
}

.project-imageContainer img{
  max-width: 100%;
}

.course-list-title-wrapper{
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 40px;
}

.course-list-title{
  margin: 0 0 0 20px;
  background-color: #fafafa;
}

.course-list{
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
}

.course{
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4fbff;
}

.course-imageContainer{
  width: 100%;
}

.course-imageContainer img{
  width: inherit;
  height: 200px;
  object-fit: cover;
}

.course-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.course-description{
  text-align: left;
}

.course-link{
  color: #026FFF;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact{
  background-color: #0063FF;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.form-email input{
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x:5px;
  margin-top: 10px;
}

.form-email button{
  display: block;
  background-color: transparent;
  color: white;
  padding: 5px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3{
  font-family: 'Sourse Sans Pro',Arial, Helvetica, sans-serif;
}

.social{

}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px; /*alto ancho */
}

.social-link.twitter{
  background-image: url('../images/twitter.svg');
}

.social-link.github{
  background-image: url('../images/github.svg');
}

.social-link.facebook{
  background-image: url('../images/facebook.svg');
}

.social-link.instagram{
  background-image: url('../images/instagram.svg');
}

.footer{
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img{
  vertical-align: middle;
}

.footer a{
  color: white;
}

.container{
  max-width: 1000px;
  flex:1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

@media screen and (max-width: 1024px){
  .container{
    padding: 0 1em;
  }

  .hero{
    height: auto;
    position: relative;
    overflow: hidden;;
    padding: 2em;
  }

  .hero .container h1{
    font-size: 2em;
    z-index: 2;
    background: rgba(0,0,0,0.1);
    padding: 1em 1em 1em 1em;
    width: auto;
  }

  .hero-img{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }


}

@media screen and (max-width:768px){

  .burger-button{
    display: block;
  }

  .header{
    display: block;
    height: auto;
  }
  .header ul{
    display: block;
  }
  .header ul li{
    height: 50px;
  }

  .link{
    justify-content: center;
  }

  .header .logo{
    justify-content: center;
  }

  .project{
    display: block;
  }

  .project-details{
    width: auto;
    font-size: 16px;
  }

  .project-title{
    font-size: 1.5em;
    margin-bottom: .3em;
  }

  .project-course{
    font-size: .7em;
  }

  .project-date{
    font-size: 1em;
  }

  .project-url{
    font-size: .8em;
  }

  .project-description{
    font-size: .8em;
  }

  .project-course, .project-date, .project-url{
    margin:.4em 0;
  }

  .project-imageContainer{
    width: auto;
    text-align: center;
    display: block;
  }

  .course{
    width: auto;
    flex-shrink: 1;
  }

  .contact{
    height: auto;
    padding: 1em 0;
    display: block;
    text-align: center;
  }

  .contact button{
    margin: 1em auto;
  }

  .contact .form-email input{
    width: 60%;
    max-width: 300px;
  }

  .social-link{
    width: 2em;
    height: 2em;
    background-size: 2em;
  }

  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }

}

@media screen and (max-width: 480px){
  .hero .container h1{
    font-size: 1em;
    background: rgba(0,0,0,0.1);
  }

  .project-details{
    width: auto;
    font-size: 12px;
  }

  .course-detail{
    margin: -2em .5em .5em;
    padding: 1em;
  }

}

@media screen and (max-width: 320px){
  .hero .container h1{
    font-size: 1.2em;
    background: rgba(0,0,0,.5);
    padding: 1em 1em 1em 0;
    width: auto;
  }

  .hero{
    padding: 2em 1em;
  }
}
